/* -------------------Button_back--------------------- */
.headerMusicPlayer__buttonBack {
  margin-top: -70px;
  margin-bottom: 22.4px;
  margin-left: 20px;
  display: flex;
  color: #1877F2;
  margin-left: 15px;
}

.headerMusicPlayer__buttonBack svg {
  margin-top: 10px;
  width: 30px;
  height: 40px;

}

.headerMusicPlayer__buttonBack h3 {
  white-space: nowrap;
  margin-left: 5px;
  margin-top: 20px;
  color: #1877F2;
}

.headerMusicPlayer {
  padding-top: 80px;
}

.headerMusicPlayer a {
  display: flex;
  text-decoration: none;
}

.headerMusicPlayer a:hover h3 {
  color: #F62A54;
}




